@charset "utf-8";
/* CSS Document */

.container
{width:1366px;
height:auto;
}

.contactimg
{width:100%;
height:600px;
background-image:url(../img/sse%20interior.png);
background-size:cover;
background-color:#039;
background-attachment:fixed;}

.contactimg2
{width:100%;
height:600px;
background-color:#000;
opacity:0.7;
color:white;
text-align:center;
font-size:42px;
font-family:Georgia, "Times New Roman", Times, serif;}


.contacttxt
{width:1366px;
background-color:#107E89;
height:740px;
border-bottom:solid #0CF;}

.contacttxt1
{width:1174.76px;
margin:0 auto;
height:740px;
background-color:#F0F0F0;
position:inherit;
box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);}

.contacttxt2
{width:35%;
margin-left:60%;
border-left:solid #999;
border-left-color: #CCC;
height:640px;
margin-top:50px;
position:absolute;

}
.contacttxt3
{width:65%;
margin-right:35%;
height:640px;
position:absolute;
font-size:18px;

}

.button {
  display: inline-block;
  border-radius: 2px;
  background-color:#0CF;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 14x;
  padding: 7.5px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.button:hover
{background-color:goldenrod;}
