@charset "utf-8";
/* CSS Document */
.links
{width:100%;
height:200px;
background-color:#F0F0F0;
position:absolute;}

.homelink
{width:33.33%;
height:350px;
text-align:center;
text-decoration:none;
position:absolute;
font-size:16px;
color:#000;
}

.productslinks
{width:33.33%;
height:350px;
text-align:left;
text-decoration:none;
position:absolute;
font-size:16px;
color:#000;
margin-left:33.33%;
}

.contactuslink
{width:33.33%;
height:350px;
text-align:left;
text-decoration:none;
font-size:16px;
margin-left:66.66%;
margin-top:-350px;
color:#000;
position:absolute;}

footer
{width:100%;
height:25px;
background-color:#FFF;
text-align:center;
margin-top:350px;}

